$mine: #b31f24;
$darkBlue: #233b74;
$inactiveCell: #f7f2ec;
$activeCell: #eaddce;
$backgroundColour: #f9f4ee;

//numbers
$one: #1072ba;
$two: #078a7e;
$three: #fdb71e;
$four: #f26739;
$five: #ee2d2e;
$six: #943b96;

//import fonts
@import "../../fonts/stylesheet.css";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $backgroundColour;
  font-family: 'bignoodletitlingregular', sans-serif;
}

header {
  height: 80px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  background-color: $darkBlue;
}

.logo {
  flex-basis: 15%;
  display: flex;
  margin-left: 2.5%;
}

.logo img {
  display: block;
  max-height: 70px;
}

.logline {
  flex-basis: 60%;
  font-family: 'bignoodletitlingregular';
  font-size: 50px;
  color: $activeCell;
  margin: 0 2.5%;
  align-self: flex-end;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.sidebar {
  display: none;

  @media screen and (min-width: 1000px) {
    display: flex;
    padding: 2% 0;
    flex-direction: column;
    justify-content: space-around;
    background-color: $activeCell;
    height: 80vh;
    max-width: 20%;
    flex-basis: 25%;
    justify-self: flex-start;
    margin: 1%;
  }

  .button {
    color: $activeCell;

    &:hover {
      color: white;
    }

    &:last-child {
      display: none;

      @media screen and (min-height: 700px) {
        display: inline-block;
      }
    }
  }

  .levels {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 15%;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  width: 50vh;
  height: 40px;
  justify-content: space-between;
  margin-bottom: 0;

  >* {
    border: 3px solid $one;
    padding: 2px;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  img {
    height: 90%;
    width: auto;
    margin: 1%;
  }

  .toggle {
    display: flex;
    flex-direction: row;
    padding: 0;
    cursor: pointer;


    div {
      border: 1px solid $one;
      width: 5vh;
      height: 5vh;
      opacity: 0.5;
      filter: grayscale(100%);
      background-color: $inactiveCell;
      padding: 1%;
      display: flex;
      justify-content: center;

      img {
        padding: 2%;

      }
    }

  }

  .toggle .toggled {
    background-color: $one;
    opacity: 1;
    filter: grayscale(0%);
  }

  .smile {
    height: 5vh;
    min-height: 40px;
    width: 5vh;
    min-width: 40px;
  }

  .counter {
    display: flex;
    flex-direction: row;
    min-width: 80px;

    .window {
      font-size: 28px;
      text-align: right;
      padding: 5px;
    }
  }
}

.gameContainer {
  flex-grow: 1;
  padding: 1%;
  display: flex;
  max-width: 50%;
  margin: 2% auto 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.game {
  margin-top: 1%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid $one;
  background-color: $backgroundColour;
}

.menu {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 2.5rem;
  background-color: transparentize($color: $inactiveCell, $amount: 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;

  .button {
    min-width: 10rem;
    margin: 2.5%;
  }
}

.mobileControls {
  justify-self: center;
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  justify-content: space-around;

  @media screen and (min-width: 1000px) {
    display: none;
  }
}

.button {
  display: inline-block;
  height: 50px;
  padding: 0 1.5rem;
  min-width: 120px;
  line-height: 55px;
  cursor: pointer;
  margin: 0px 1rem;
  background-color: $one;
  text-align: center;
  color: $activeCell;
  font-size: 1.3rem;

  @media screen and (min-width: 600px) {
    font-size: 1.5rem;
  }

  &:hover {
    color: $inactiveCell;
  }
}

.row {
  display: flex;
}

.col {
  height: 5vh;
  width: 5vh;
  cursor: pointer;
  background-color: $inactiveCell;
  border: 1px solid #fff;
  font-size: 4vh;
  line-height: 6vh;
  text-align: center;
}

.one {
  color: $one;
}

.two {
  color: $two;
}

.three {
  color: $three;
}

.four {
  color: $four;
}

.five {
  color: $five;
}

.six {
  color: $six;
}

.covered {
  background-color: $activeCell;
  color: $activeCell;
}

.flagged {
  background-image: url(../../img/flag.svg);
  background-color: $inactiveCell;
}

.exploded {
  background-color: $mine;
  background-image: url(../../img/mine.svg);
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}